/*

----- Typography system -----
Font size system (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

----- Whitespace -----
Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

----- Colors -----
- Primary:
- Tint:
- Shade:
- Background:
- Background tint:

*/
:root {
  --white: rgb(241, 240, 240);
  --red: rgb(226, 62, 62);
}
html {
  font-size: 62.5%;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
a {
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--white);
}

header {
  background-color: var(--white);
  border-bottom: 0.2rem solid var(--red);
}
.hi-light {
  color: var(--red);
  font-weight: 600;
}
.hero {
  color: aqua;
}
.hero-img-conteiner {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img-conteiner h1 {
  position: absolute;
  font-size: 10rem;
  color: white;
  z-index: 10;
}
.hero-img {
  width: 100%;
  opacity: 0;
}
.hero-img-on {
  opacity: 1;
  /* filter: blur(0.5rem); */
}
.main-content {
  max-width: 120rem;
  margin: 0 auto 2rem auto;
  padding: 0 5rem;
  border-radius: 5rem;
}

.description {
  margin-top: 4rem;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  border-bottom: 1px solid var(--red);
}
.description img {
  border-radius: 0.5rem;
}
.description-flex {
  display: flex;
  gap: 5rem;
}

.description h1 {
  text-align: center;
  border-bottom: 1px solid var(--red);
  padding: 0.5rem;
  width: 40rem;
}

.p-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.endereco {
  text-align: center;
  padding-bottom: 2rem;
}

.table {
  width: 75%;
  margin: 0 auto 4rem auto;
  border-collapse: collapse;
  text-align: center;
}
.table h1 {
  text-align: center;
  border-bottom: 1px solid var(--red);
  padding: 0.5rem;
  width: 15rem;
}
.table p,
.table h2 {
  margin: 0;
}
.table td {
  padding: 0.75em;
}
.table th {
  background: rgba(226, 54, 54, 0.521);
  padding: 0.75em;
}
.table tbody tr td {
  border-bottom: 1px solid #ccc;
}
.table tbody tr:first-child td {
  border-top: 2px solid var(--red);
}
.table tbody tr:last-child td {
  border-bottom: 2px solid var(--red);
}

.table tbody tr:nth-child(even) td {
  background: rgba(226, 62, 62, 0.205);
}

.endereco h1 {
  justify-self: center;
  align-self: center;
  text-align: center;
  border-bottom: 1px solid var(--red);
  padding: 0.5rem;
  width: 12rem;
}

.endereco div {
  display: flex;
  justify-content: space-evenly;
}

.endereco iframe,
.endereco img,
.iframe-border {
  border-radius: 0.5rem;
  border: 1px solid var(--red);
}
.main-footer {
  display: flex;
  background-color: var(--red);
  height: 5rem;
  text-align: center;
  color: rgb(241, 240, 240);
  justify-content: center;
  align-items: center;
}
.main-footer p {
  margin: 0;
}
.main-footer a {
  color: white;
  text-decoration: none;
  transition: all 0.5s;
  padding: 0.2rem;
}

.main-footer p > a:hover {
  color: rgb(240, 181, 181);
}
